body {
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
    font-size: 20px;
}

h1 {
    margin-left: 110px;
}

#show_sketch {
    float: right;
}

.information {
    margin-top: 20px;
    line-height: 40px;
}

#score {
    margin-left: 25px;
}

#timer {
    float: right;
    margin-right: 45px;
}

.score_time {
    margin-top: 50px;
    padding-bottom: 220px;
}

canvas{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    margin-top: 150px;
    margin-left: 0px;
}